@using System.Web.Optimization
@{
    ViewBag.Title = "导入宿舍分配数据";
    Layout = "~/Views/Shared/_LayoutDormitoryManager.cshtml";
}
@section JS {
    @Scripts.Render("~/bundles/jqueryval")
}
<body class="hold-transition sidebar-mini" s style="background-color:#ecf0f5;">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    上传宿舍分配信息
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                @using (Html.BeginForm("UploadHouseAllot", "DormitoryManager", FormMethod.Post, new {  enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <label>导入数据<a style="color:red">*</a><a href="~/Files/HouseAllot.xlsx">下载导入模板</a></label>
                                    <input name="files" id="file" type="file" />
                                    <button type="submit" name="submit"  class="btn btn-danger" value="Upload" style="float:right">导入</button>
                                    
                                    <div>
                                        @{
                                            if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
                                            {
                                                <P class="text-danger">@Html.Raw(ViewBag.ErrorMessage.Replace("\r\n", "<br>"))</P>
                                            }
                                        }
                                    </div>
                                </div>

                            <!-- /.box-header -->
                            </div><!-- /.box -->
                        </div><!--/.col (left) -->
                    </div>   <!-- /.row -->
                }
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
</body>


